parameters:
	ignoreErrors:
		-
			message: '#^Method Vojtechdobes\\Conformance\\Constraints\\BooleanAll\:\:validate\(\) should return Vojtechdobes\\Conformance\\Result\<bool, TAnd\|TPreValue\> but returns Vojtechdobes\\Conformance\\Result\<bool, TAnd\|TPreValue\>\|Vojtechdobes\\Conformance\\Result\<true, TPreValue\>\.$#'
			identifier: return.type
			count: 1
			path: src/Conformance/Constraints/BooleanAll.php

		-
			message: '#^Parameter \#1 \$other of method Vojtechdobes\\Conformance\\Result\<bool,TAnd\|TPreValue\>\:\:with\(\) expects Vojtechdobes\\Conformance\\Result\<bool, TAnd\|TPreValue\>, Vojtechdobes\\Conformance\\Result\<bool, covariant TAnd\|TPreValue\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Conformance/Constraints/BooleanAll.php

		-
			message: '#^Parameter \#1 \$value of method Vojtechdobes\\Conformance\\Constraint\<covariant TPreValue,covariant TAnd\>\:\:validate\(\) expects never, TAnd\|TPreValue given\.$#'
			identifier: argument.type
			count: 1
			path: src/Conformance/Constraints/BooleanAll.php

		-
			message: '#^Method Vojtechdobes\\Conformance\\Constraints\\ForEachItem\:\:validate\(\) should return Vojtechdobes\\Conformance\\Result\<bool, covariant array\<TInnerPostValue\|TInnerPreValue\>\> but returns Vojtechdobes\\Conformance\\Result\<bool, TInnerPostValue\|TInnerPreValue\>\|Vojtechdobes\\Conformance\\Result\<true, array\<TInnerPreValue\>\>\.$#'
			identifier: return.type
			count: 1
			path: src/Conformance/Constraints/ForEachItem.php

		-
			message: '#^Parameter \#1 \$value of method Vojtechdobes\\Conformance\\Result\<bool,covariant TInnerPostValue\|TInnerPreValue\>\:\:withValue\(\) expects never, array\|ArrayAccess given\.$#'
			identifier: argument.type
			count: 1
			path: src/Conformance/Constraints/ForEachItem.php

		-
			message: '#^Parameter \#1 \$value of method Vojtechdobes\\Conformance\\Result\<bool,covariant mixed\>\:\:withValue\(\) expects never, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Conformance/Constraints/IsRecord.php
